BODY{
    background-color:#fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(20, 36, 58);
  }
  header{
    background-color: rgb(20, 36, 58);
    height: 150px;
    color: #fff;
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: none;
    border-radius: 5px;
    padding-top: 10px;
    box-shadow: rgb(20, 36, 58) 0 0 30px;
  }
  
   .tile1, .tile2, .tile3, .tile4, .tile5, .tile6, .tile7, .tile8, .tile9, .tile10, .tile11, .tile12, .tile13, .tile14, .tile15, .tile16, .tile17, .tile18, .tile19, .tile20, .tile21, .tile22, .tile23, .tile24, .tile25, .tile26, .tile27, .tile28, .tile29, .tile30, .tile31, .tile32, .tile33, .tile34, .tile35, .tile36{
          display: table-cell;
          width: 60px;
          height: 60px;
          border: 1px solid white;
          cursor: pointer;
          background: url(./images/hard.jpg);
          background-position: -60px -120px;
        }
        .tile1 {background-position: 0px 0px;}
        .tile2 {background-position: -60px 0px;}
        .tile3 {background-position: -120px 0px;}
        .tile4 {background-position: -180px 0px;}
        .tile5 {background-position: -240px 0px;}
        .tile6 {background-position: -300px 0px;}
        .tile7 {background-position: 0px -60px;}
        .tile8 {background-position: -60px -60px;}
        .tile9 {background-position: -120px -60px;}
        .tile10 {background-position: -180px -60px;}
        .tile11 {background-position: -240px -60px;}
        .tile12 {background-position: -300px -60px;}
        .tile13 {background-position: 0px -120px;}
        .tile14 {background-position: -60px -120px;}
        .tile15 {background-position: -120px -120px;}
        .tile16 {background-position: -180px -120px;}
        .tile17 {background-position: -240px -120px;}
        .tile18 {background-position: -300px -120px;}
        .tile19 {background-position: 0px -180px;}
        .tile20 {background-position: -60px -180px;}
        .tile21 {background-position: -120px -180px;}
        .tile22 {background-position: -180px -180px;}
        .tile23 {background-position: -240px -180px;}
        .tile24 {background-position: -300px -180px;}
        .tile25 {background-position: 0px -240px;}
        .tile26 {background-position: -60px -240px;}
        .tile27 {background-position: -120px -240px;}
        .tile28 {background-position: -180px -240px;}
        .tile29 {background-position: -240px -240px;}
        .tile30 {background-position: -300px -240px;}
        .tile31 {background-position: 0px -300px;}
        .tile32 {background-position: -60px -300px;}
        .tile33 {background-position: -120px -300px;}
        .tile34 {background-position: -180px -300px;}
        .tile35 {background-position: -240px -300px;}
        .tile36 {background: white; cursor: default;}

        

  
        button{
          background-color:rgb(20, 36, 58);
          width: 60px;
          height: 60px;
          margin-left: 16px;
          border-radius: 50%;
          border: none;
          color: white;
          cursor: pointer;
          box-shadow: rgb(20, 36, 58) 0 0 30px;
        }
        button:hover{
          background-color: rgb(106, 133, 170);
          color:white;
        }
  
  
      a:link{
        text-decoration: none;
      
      }
      a:visited{
        color: rgb(20, 36, 58);
      }
      a:hover{
        color:rgb(42, 121, 121)
      }
     
      #facts{
        font-size: 1.5em;
        width: 55%;
        display: inline-block;
        float: right;
        margin: 0%;
      }
      .h1{
        font-size: 1.5em;
      }
      .timer {
        font-family: sans-serif;
        padding: 24px 32px;
        border-radius: 5px;
        border:rgb(20, 36, 58) solid 2px;
        background: white;
        font-size: 2.5em;
        margin-left: 100px;
        margin-top: 30px;
        box-shadow: rgb(20, 36, 58) 0 0 30px;
        width: 300px;
        height: 50px;
        }
  
        #wrapper{
          float: left;
          width: 40%;
          margin-top: 15 px;
        }
  
        #nav{
          font-size: 2em;
          word-spacing: 30px;
          width: 50%;
          border: rgb(20, 36, 58) solid 2px;
          border-radius: 5px;
          text-decoration: none;
          list-style: none;
          margin-left: 300px;
          text-align: center;
          box-shadow: rgb(20, 36, 58) 0 0 30px;
          margin-top: 35px;
        }
        ul li{
          display: inline;
        }
        .puzzle{
          box-shadow: rgb(20, 36, 58) 0 0 30px;
          width:360px;
          height:360px;
          margin-left: 100px;
          margin-top: 35px;
          margin-bottom: 25px;
        }
        #button-shuffle{
          padding-top: 10px;
        }