*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    background-color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
header{
    background-color: rgb(20, 36, 58);
    min-height: 100px;
    color: #fff;
    font-size: 3.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-top: 30px;
    margin-top: none;
    border-radius: 5px;
    box-shadow: rgb(20, 36, 58) 0 0 30px;
}
#nav1{
    font-size: 2em;
    word-spacing: 30px;
    width: 100%;
    border: rgb(20, 36, 58) solid 2px;
    border-radius: 5px;
    text-decoration: none;
    list-style: none;
    margin-top: 25px;
    box-shadow: rgb(20, 36, 58) 0 0 30px;
}
#directions{
    color: rgb(20, 36, 58);
    padding-top: 10px;
    font-size: 2.2em;
    float: left;
    width: 60%;
    margin-top: 75px;
}
a:link{
    text-decoration: none;

}
a:visited{
    color: rgb(20, 36, 58);
}
a:hover{
    color:rgb(42, 121, 121)
}
ul li{
    display: inline;
}
img{
    border-radius: 50%;
    box-shadow: rgb(20, 36, 58) 0 0 30px;
}
@media (max-width: 600px) {
    .flex-container {
      flex-direction: column;
    }
  }