body{
    background-color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
header{
    background-color: rgb(20, 36, 58);
    height: 100px;
    color: #fff;
    font-size: 3.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-top: 30px;
    margin-top: none;
    border-radius: 5px;
}
#nav1{
    font-size: 2em;
    word-spacing: 30px;
    width: 50%;
    border: rgb(20, 36, 58) solid 2px;
    border-radius: 5px;
    text-decoration: none;
    list-style: none;
    margin-left: 300px;
}
#directions{
    padding-top: 10px;
    font-size: 2em;
    float: left;
    width: 60%;
    
}
a:link{
    text-decoration: none;

}
a:visited{
    color: rgb(20, 36, 58);
}
a:hover{
    color:rgb(42, 121, 121)
}
ul li{
    display: inline;
}
