*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
BODY{
    display: flex;
    background-color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(20, 36, 58);
    margin: 0;
    padding: 0;
    border: red solid 1px;
}
header{
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: rgb(20, 36, 58);
  min-height: 150px;
  color: #fff;
  font-size: 2em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 5px;
  padding-top: 10px;
  box-shadow: rgb(20, 36, 58) 0 0 30px;
  border: red solid 1 px;
}
 .tile1, .tile2, .tile3, .tile4, .tile5, .tile6, .tile7, .tile8, .tile9 {
        display: table-cell;
        width: 120px;
        height: 120px;
        border: 1px solid white;
        cursor: pointer;
        background: url(./images/simple.jpg)
      }
      .tile1 {background-position: left top;}
      .tile2 {background-position: center top;}
      .tile3 {background-position: right top;}
      .tile4 {background-position: left center;}
      .tile5 {background-position: center center;}
      .tile6 {background-position: right center;}
      .tile7 {background-position: left bottom;}
      .tile8 {background-position: center bottom;}
      .tile9 {background: white; cursor: default;}
      
      
      button{
        background-color:rgb(20, 36, 58);
        width: 60px;
        height: 60px;
        margin-left: 16px;
        border-radius: 50%;
        border: none;
        color: white;
        cursor: pointer;
        box-shadow: rgb(20, 36, 58) 0 0 30px;
      }
      button:hover{
        background-color: rgb(106, 133, 170);
        color:white;
      }


    a:link{
      text-decoration: none;
    
    }
    a:visited{
      color: rgb(20, 36, 58);
    }
    a:hover{
      color:rgb(42, 121, 121)
    }
   
    #facts{
      font-size: 1.5em;
      box-sizing: border-box;
      padding: 15px;
      border: red solid 2px;
      width: 60%;
      float: right;
    }
    .h1{
      font-size: 1.5em;
    }

    .timer {
      font-family: sans-serif;
      padding: 24px 32px;
      border-radius: 5px;
      border:rgb(20, 36, 58) solid 2px;
      background: white;
      font-size: 2.5em;
      box-shadow: rgb(20, 36, 58) 0 0 30px;
      width: 300px;
      height: 50px;
      border: red solid 2px;
    }
    #container{
      width: 40%;
      float: left;
      border: red solid 2px;
    }
    

      #nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-evenly;
        flex-direction: row;
        width: 50%;
        font-size: 2em;
        border: rgb(20, 36, 58) solid 2px;
        border-radius: 5px;
        text-decoration: none;
        list-style: none;
        box-shadow: rgb(20, 36, 58) 0 0 30px;
      }

      .puzzle{
        box-shadow: rgb(20, 36, 58) 0 0 30px;
        width:360px;
        height:360px;
        border: red solid 2px;
      }
#button-shuffle{
  padding-top: 10px;
}
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}